@using GameZone.TOOLS;
@{
    string svcName = System.Configuration.ConfigurationManager.AppSettings["SERVICE_NAME"].ToString();
    string rls_vsn = System.Configuration.ConfigurationManager.AppSettings["RELEASE_VERSION"].ToString();
    //bool IsMobile = false;
    //if (Request.UserAgent.Contains("Mobi") == true)
    //{
    //    IsMobile = true;
    //}
}


<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="generator" content="Jekyll v3.6.0">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Game Zone</title>

    <!-- Favicons -->
    <link rel="icon" href="/favicon.ico">
    <!-- Meta -->
    <meta name="description" content="The marketplace for HTML5 games">
    <meta name="author" content="Funmobile,Bernard Oreva, Aishat Mosuro">

    <link href="~/Content/css/bootstrap.min.css?v=@rls_vsn" rel="stylesheet" />
    <link href="~/Content/css/animate.min.css?v=@rls_vsn" rel="stylesheet" />
    <link href="~/Content/css/font-awesome.min.css?v=@rls_vsn" rel="stylesheet" />
    <link href="~/Content/css/base-stylesheet.css?v=@rls_vsn" rel="stylesheet" />
    <link href="~/Content/css/style.css?v=@rls_vsn" rel="stylesheet" />

    @*@Styles.Render("~/bundles/contentCss")
    <link href="~/Content/css/style.css?v=@rls_vsn" rel="stylesheet" />*@
    <style>
        #games #main-menu .navbar .nav > li > a {
            color: #797979;
        }
    </style>
    @RenderSection("style", required: false)
</head>
<body ng-app="gamezoneApp">
    <div class="wrapper" ng-controller="gamezoneCtrlr">
        <!-- LOADER -->
        <div id="loader-overflow">
            <div id="loader3">Please enable JS</div>
        </div>
        <div class="site-container">
            <div class="header-black-bg"></div>
            <header id="nav" class="header header-1 header-black animated fadeInDown sticky ">
                <div class="header-wrapper">
                    <div class="container-m-30 clearfix">
                        <div class="logo-row">
                            <div class="logo-container-2">
                                <div class="logo-2">
                                    <a href="/Home" class="clearfix">
                                        <img src="~/Content/images/logo.png" alt="Gamezone logo" />
                                    </a>
                                </div>
                            </div>
                            <div class="menu-btn-respons-container">
                                <button id="menu-btn" type="button" class="navbar-toggle btn-navbar collapsed" data-toggle="collapse" data-target="#main-menu .navbar-collapse">
                                    <span aria-hidden="true" class="icon_menu hamb-mob-icon"><i class="fa fa-bars"></i></span>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="main-menu-container">
                        <div class="container-m-30 clearfix">
                            <div id="main-menu" class="">
                                <div class="navbar navbar-default" role="navigation">
                                    <nav class="navbar-collapse  collapse row" aria-expanded="false" style="height: 0px;">
                                        <div class="col-md-4 col-md-offset-8 ">
                                            <ul class="nav navbar-nav" id="menuUL">
                                                <li class="parent current" id="homeMenu">
                                                    <a href="/Home" class=""><div class="main-menu-title">Home</div></a>
                                                </li>
                                                <li class="parent " id="gameMenu">
                                                    <a href="/Games/List" class=""><div class="main-menu-title">Games </div></a>
                                                </li>
                                                <li class="dropdown">
                                                    <button class="main-menu-title" id="dLabel" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                        <span id="userIDSpan">{{userName}}</span>
                                                        <span class="caret"></span>
                                                    </button>
                                                    <ul class="dropdown-menu" aria-labelledby="dLabel">
                                                        <li class="loginReg"><a data-toggle="modal" id="login-target" data-target="#loginModal">Login </a></li>
                                                        <li class="loginReg"><a data-toggle="modal" id="register-target" data-target="#loginModal">Register </a></li>
                                                        @*<li class="logout subscribeBTN"><a data-toggle="modal" id="subDetails-target" data-target="#pcSubscriptionModal" ng-click="subscriptionBtnClickEventHandler()">Subscription </a></li>*@

                                                        <li class="logout subscribeBTN"><a id="subDetails-target" ng-click="subscriptionBtnClickEventHandler()">Subscription </a></li>

                                                        <li class="logout"><a id="logout-target">Logout </a></li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </div>
                                        @if (ViewBag.Title != "Subscription")
                                        {
                                            <div class="col-md-7 visible-xs-block visible-sm-block">
                                                <div class="filter-container isotopeFilters">
                                                    <ul id="topGameMenu" class="text-center nav navbar-nav top-filter">
                                                        <li class="gameMenu parent all collapsed" data-toggle="collapse" data-target="#main-menu .navbar-collapse" id="family"><a href="#" data-filter=".family"><i class="fa fa-universal-access"></i>Family</a></li>
                                                        <li class="gameMenu parent adv  collapsed" data-toggle="collapse" data-target="#main-menu .navbar-collapse" id="strategy"><a href="#" data-filter=".strategy"> <i class="fa fa-delicious"></i>Strategy</a></li>
                                                        <li class="gameMenu parent arc  collapsed" data-toggle="collapse" data-target="#main-menu .navbar-collapse" id="action"><a href="#" data-filter=".action"> <i class="fa fa-codiepie"></i>Action</a></li>
                                                        <li class="gameMenu parent spo  collapsed" data-toggle="collapse" data-target="#main-menu .navbar-collapse" id="cards"><a href="#" data-filter=".cards"> <i class="fa fa-steam-square"></i>Cards</a></li>
                                                        <li class="gameMenu parent car  collapsed" data-toggle="collapse" data-target="#main-menu .navbar-collapse" id="sports"><a href="#" data-filter=".sports"> <i class="fa fa-soccer-ball-o"></i>Sports</a></li>
                                                        <li class="gameMenu parent car  collapsed" data-toggle="collapse" data-target="#main-menu .navbar-collapse" id="adventure"><a href="#" data-filter=".adventure"> <i class="fa fa-anchor"></i>Adventure</a></li>
                                                        <li class="gameMenu parent car  collapsed" data-toggle="collapse" data-target="#main-menu .navbar-collapse" id="puzzle"><a href="#" data-filter=".puzzle"> <i class="fa fa-puzzle-piece"></i>Puzzle</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        }
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
            <main class="main-content">
                @RenderBody()

                @* PC Login/Registration Modal *@
                <div class="modal fade" id="loginModal" tabindex="-1" role="dialog" data-backdrop="static" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                                <h3 class="modal-title text-center animated hide" id="login-header"> Login</h3>
                                <h3 class="modal-title text-center animated hide" id="forgotpw-header">Reset Password</h3>
                                <h3 class="modal-title text-center animated" id="register-header">Register</h3>
                            </div>
                            <div class="modal-body">
                                <form class="form-horizontal hide animated" id="login-form">
                                    <div class="form-group row">
                                        <div class="col-sm-6 col-sm-offset-3 col-xs-6 col-xs-offset-3">
                                            <input id="txtUsername" type="text" class="form-control" placeholder="Username" ng-model="loginObj.szUsername" aria-describedby="sizing-addon1">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-sm-6 col-sm-offset-3 col-xs-6 col-xs-offset-3">
                                            <input id="txtPassword" type="password" class="form-control" placeholder="Password" ng-model="loginObj.szPassword">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-sm-6 col-sm-offset-3  col-xs-6 col-xs-offset-3">
                                            <img src="~/Content/images/loadingGif.gif" id="logLoda" style="display: block; margin-left: auto; margin-right: auto;" />
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-sm-6 col-sm-offset-3  col-xs-6 col-xs-offset-3">
                                            <button class="btn btn-primary btn-block disabledCtrl" ng-click="userLogin()"> Login</button>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-6 col-sm-offset-3">
                                            <hr />
                                            <p class="text-center">Forgot password?  <a id="forgotpw-link" class="disabledCtrl">Reset password</a></p>
                                            <p class="text-center">Don't have an account?  <a id="register-link" class="disabledCtrl">Register</a></p>
                                        </div>
                                    </div>
                                </form>
                                <form class="form-horizontal hide animated" id="forgotpw-form">
                                    <div class="form-group row">
                                        <div class="col-sm-6 col-sm-offset-3 col-xs-6 col-xs-offset-3">
                                            <input type="text" id="txtForgotUsername" class="form-control allownumericwithoutdecimal" placeholder="Email address or Phone No" ng-model="forgotpwObj.szUsername">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-sm-6 col-sm-offset-3  col-xs-6 col-xs-offset-3">
                                            <img src="~/Content/images/loadingGif.gif" id="forgotLoda" style="display: block; margin-left: auto; margin-right: auto;" />
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-sm-6 col-sm-offset-3  col-xs-6 col-xs-offset-3">
                                            <button class="btn btn-primary btn-block disabledCtrl" ng-click="ResetUserPW()"> Reset</button>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-6 col-sm-offset-3">
                                            <hr />
                                            <p class="text-center">Already have an account? <a id="login-link" class="disabledCtrl">Login</a></p>
                                        </div>
                                    </div>
                                </form>
                                <form class="form-horizontal animated" id="register-form">
                                    <div class="form-group row">
                                        <div class="col-sm-6 col-sm-offset-3 col-xs-6 col-xs-offset-3">
                                            <input type="text" id="txtRegUsername" class="form-control allownumericwithoutdecimal" placeholder="Email address / Phone No" ng-model="registerObj.szUsername">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-sm-6 col-sm-offset-3 col-xs-6 col-xs-offset-3">
                                            <input type="password" id="txtRegPassword" class="form-control " placeholder="Password" ng-model="registerObj.szPassword">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-sm-6 col-sm-offset-3 col-xs-6 col-xs-offset-3">
                                            <input type="password" id="txtRegPasswordConfirm" class="form-control " placeholder="Confirm password" ng-model="registerObj.szConfirmPassword">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-sm-6 col-sm-offset-3  col-xs-6 col-xs-offset-3">
                                            <img src="~/Content/images/loadingGif.gif" id="regLoda" style="display: block; margin-left: auto; margin-right: auto;" />
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-sm-6 col-sm-offset-3  col-xs-6 col-xs-offset-3">
                                            <button class="btn btn-primary btn-block disabledCtrl" ng-click="RegisterNewUser()"> Register</button>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-6 col-sm-offset-3">
                                            <hr />
                                            <p class="text-center">Already have an account? <a id="login-link" class="disabledCtrl">Login</a></p>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

                @* Password Change Modal *@
                <div class="modal fade" id="passwordChangeModal" tabindex="-1" role="dialog" data-backdrop="static" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                                <h3 class="modal-title text-center" id="exampleModalLabel">Change Password</h3>
                            </div>
                            <div class="modal-body">
                                <form class="fomr-horizontal">
                                    <div class="form-group row">
                                        <div class="col-sm-6 col-sm-offset-3 col-xs-6 col-xs-offset-3">
                                            <input type="text" id="txtChangeUsername" class="form-control allownumericwithoutdecimal" placeholder="Email address / Phone No" ng-model="changepwObj.szUsername">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-sm-6 col-sm-offset-3 col-xs-6 col-xs-offset-3">
                                            <input type="password" id="txtChangePassword" class="form-control " placeholder="Password" ng-model="changepwObj.szPassword">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-sm-6 col-sm-offset-3 col-xs-6 col-xs-offset-3">
                                            <input type="password" id="txtChangePasswordConfirm" class="form-control " placeholder="Confirm password" ng-model="changepwObj.szConfirmPassword">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-sm-6 col-sm-offset-3  col-xs-6 col-xs-offset-3">
                                            <img src="~/Content/images/loadingGif.gif" id="ChangeLoda" style="display: block; margin-left: auto; margin-right: auto;" />
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-sm-6 col-sm-offset-3  col-xs-6 col-xs-offset-3">
                                            <button id="btnChangeUserPW" class="btn btn-primary btn-block disabledChangeCtrl" ng-click="ChangeUserPW()"> Change Password</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal fade" id="lodaModal" tabindex="-1" role="dialog" data-backdrop="static" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-body" style="min-height:95px;text-align:center;">
                                <div class="form-group row">
                                    <div class="col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1">
                                        <label class="modal-title text-center" id="lodaModalLabel">... processing, please wait.</label>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1">
                                        <img src="~/Content/images/loadingGif.gif" id="lodaModalGif" style="display: block; margin-left: auto; margin-right: auto;" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <footer id="footer4" class="footer2-black site-footer">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-5 widget pt-10 ">
                                <div class="footer2-text-cont contact">
                                    <img class="footer-logo" src="~/Content/images/logo 1 flip.png" alt="Gamezone" />
                                    <p>Get so much more by subscribing a token for loads of interesting Arcade, Sports, Family and Puzzle games!</p>
                                </div>
                            </div>
                            <div class="col-md-2 widget pt-10 col-md-offset-2">
                                <ul class="links-list a-text-cont">
                                    <li class="white_c">INFO</li>
                                    <li><a href="/Games/List">Games </a></li>
                                    <!-- <li><a href="">About</a></li> -->
                                    <li><a href="">Terms & Conditions</a></li>
                                    <li><a href="">Privacy </a></li>
                                </ul>
                            </div>
                            <div class="col-md-2 widget pt-10">
                                <div class="footer2-text-cont">
                                    <!-- Social Links -->
                                    <ul class="links-list a-text-cont">
                                        <li class="white_c">CONNECT</li>
                                        <li><a href="https://www.facebook.com/funmobile.nigeria" rel="noopener">Facebook <i class="fa fa-facebook-square"></i></a></li>
                                        <li><a href="https://twitter.com/funmobilelive" rel="noopener">Twitter <i class="fa  fa-twitter-square"></i></a></li>
                                        <li><a href="https://www.instagram.com/funmobilelive/" rel="noopener">Instagram <i class="fa fa-instagram"></i></a></li>
                                        <!-- <li><a href="">Privacy </a></li> -->
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-11 ">
                                <!-- SUB FOOTER -->
                                <div class="copyright clearfix">
                                    <a class="#" href="" target="_blank">&copy; @DateTime.Now.Year Gamezone.ng</a>
                                    <a class="#" href="/www.funmobilelive.com" target="_blank" style="float:right;">Powered by FunMobile</a>
                                </div>
                            </div>
                        </div>


                    </div>
                    <p id="back-top">
                        <a href="#top" title="Back to Top"><span class="icon icon-arrows-up"><i class="fa fa-arrow-up"></i></span></a>
                    </p>
                </footer>
            </main>
        </div>
    </div>

    <!-- JS begin -->
    @*jquery*@
    @*<script src="~/Content/js/jquery.min.js?v=@rls_vsn"></script>*@
    @Scripts.Render("~/bundles/jquery")

    <script type="text/javascript">
            if (typeof jQuery == 'undefined') {
                var e = document.createElement('script');
                e.src = '@Url.Content("~/Scripts/jquery.min.js")';
                e.type = 'text/javascript';
                document.getElementsByTagName("head")[0].appendChild(e);
            }
    </script> 
    @*Responsiveness*@
    @*<script src="~/Content/js/bootstrap.min.js?v=@rls_vsn"></script>
    <script src="~/Scripts/respond.js?v=@rls_vsn"></script>*@
    @Scripts.Render("~/bundles/bootstrap")
    @*angular*@
    @*<script src="~/Scripts/angular.min.js?v=@rls_vsn"></script>
    <script src="~/Scripts/global.js?v=@rls_vsn"></script>*@
    @Scripts.Render("~/bundles/angularGlobal")
    @*baseJS*@

    @*<script src="~/Content/js/magnific-popup.min.js?v=@rls_vsn"></script>
    <script src="~/Content/js/imagesloaded.pkgd.min.js?v=@rls_vsn"></script>
    <script src="~/Content/js/appear.js?v=@rls_vsn"></script>
    <script src="~/Content/js/base.js?v=@rls_vsn"></script>
    <script src="~/Content/js/smooth-scroll.min.js?v=@rls_vsn"></script>*@

    @*silteringJs*@
    @*<script src="~/Content/js/isotope.pkgd.min.js?v=@rls_vsn"></script>
    <script src="~/Content/js/lightbox.min.js?v=@rls_vsn"></script>
    <script src="~/Content/js/dofilter.js?v=@rls_vsn"></script>
    <script src="~/Content/js/scrolla.jquery.min.js?v=@rls_vsn"></script>*@

    @*customjs*@
    @*<script src="~/Content/js/site.js?v=@rls_vsn"></script>

    <script src="~/Content/js/notify.min.js?v=@rls_vsn"></script>*@

    @Scripts.Render("~/bundles/ContentScript")

    <script>
        var svcName = "@svcName";
        @*var _IsMobile = "@IsMobile";
        if (_IsMobile == "True") {
            FetchMSISDN();
        }*@
    </script>
    @*<script src="~/Scripts/layout.js?v=@rls_vsn"></script>*@
    @Scripts.Render("~/bundles/layout")

    @RenderSection("scripts", required: false)
</body>
</html>