<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="generator" content="Jekyll v3.6.0">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Game Zone</title>

    <!-- Favicons -->
    <link rel="icon" href="/favicon.ico">
    <!-- Meta -->
    <meta name="description" content="The marketplace for HTML5 games">
    <meta name="author" content="Funmobile,Bernard Oreva, Aishat Mosuro">

    <link href="~/Content/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/css/animate.min.css" rel="stylesheet" />
    <link href="~/Content/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/css/base-stylesheet.css" rel="stylesheet" />
    <link href="~/Content/css/style.css" rel="stylesheet" />

    <style>
        #games #main-menu .navbar .nav > li > a {
            color: #797979;
        }
    </style>
    @RenderSection("style", required: false)
</head>
<body ng-app="gamezoneApp">
    <div class="wrapper" ng-controller="gamezoneCtrlr">
        <!-- LOADER -->
        <div id="loader-overflow">
            <div id="loader3">Please enable JS</div>
        </div>
        <div class="site-container">
            <div class="header-black-bg"></div>
            <header id="nav" class="header header-1 header-black animated fadeInDown sticky ">
                <div class="header-wrapper">
                    <div class="container-m-30 clearfix">
                        <div class="logo-row">
                            <div class="logo-container-2">
                                <div class="logo-2">
                                    <a href="/Home" class="clearfix">
                                        <img src="~/Content/images/logo.png" alt="Gamezone logo"/>
                                    </a>
                                </div>
                            </div>
                            <div class="menu-btn-respons-container">
                                <button id="menu-btn" type="button" class="navbar-toggle btn-navbar collapsed" data-toggle="collapse" data-target="#main-menu .navbar-collapse">
                                    <span aria-hidden="true" class="icon_menu hamb-mob-icon"><i class="fa fa-bars"></i></span>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="main-menu-container">
                        <div class="container-m-30 clearfix">
                            <div id="main-menu" class="">
                                <div class="navbar navbar-default" role="navigation">
                                    <nav class="navbar-collapse  collapse row" aria-expanded="false" style="height: 0px;">
                                        <div class="col-md-3 col-md-offset-9 ">
                                            <ul class="nav navbar-nav" id="menuUL">
                                                <li class="parent current" id="homeMenu">
                                                    <a href="/Home" class=""><div class="main-menu-title">Home</div></a>
                                                </li>
                                               <li class="parent " id="gameMenu">
                                                    <a href="/Games/List" class=""><div class="main-menu-title">Games </div></a>
                                                </li>
                                                <li class="dropdown">
                                                    <button class="main-menu-title" id="dLabel" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                        Account
                                                        <span class="caret"></span>
                                                    </button>
                                                    <ul class="dropdown-menu" aria-labelledby="dLabel">
                                                        <li><a data-toggle="modal" id="login-target" data-target="#loginModal">Login </a></li>
                                                        <li><a data-toggle="modal" id="register-target" data-target="#loginModal">Register </a></li>
                                                    </ul>
                                                </li>                                        
                                            </ul>
                                        </div>                                     
                                        <div class="col-md-7 visible-xs-block visible-sm-block">
                                            <div class="filter-container isotopeFilters">
                                                <ul class="text-center nav navbar-nav top-filter">
                                                    <li class="gameMenu parent active all collapsed" data-toggle="collapse" data-target="#main-menu .navbar-collapse" id="family"><a href="#" data-filter=".family"><i class="fa fa-universal-access"></i>Family</a></li>
                                                    <li class="gameMenu parent adv  collapsed" data-toggle="collapse" data-target="#main-menu .navbar-collapse" id="strategy"><a href="#" data-filter=".strategy"> <i class="fa fa-delicious"></i>Strategy</a></li>
                                                    <li class="gameMenu parent arc  collapsed" data-toggle="collapse" data-target="#main-menu .navbar-collapse" id="action"><a href="#" data-filter=".action"> <i class="fa fa-codiepie"></i>Action</a></li>
                                                    <li class="gameMenu parent spo  collapsed" data-toggle="collapse" data-target="#main-menu .navbar-collapse" id="cards"><a href="#" data-filter=".cards"> <i class="fa fa-steam-square"></i>Cards</a></li>
                                                    <li class="gameMenu parent car  collapsed" data-toggle="collapse" data-target="#main-menu .navbar-collapse" id="sports"><a href="#" data-filter=".sports"> <i class="fa fa-soccer-ball-o"></i>Sports</a></li>
                                                    <li class="gameMenu parent car  collapsed" data-toggle="collapse" data-target="#main-menu .navbar-collapse" id="adventure"><a href="#" data-filter=".adventure"> <i class="fa fa-anchor"></i>Adventure</a></li>
                                                    <li class="gameMenu parent car  collapsed" data-toggle="collapse" data-target="#main-menu .navbar-collapse" id="puzzle"><a href="#" data-filter=".puzzle"> <i class="fa fa-puzzle-piece"></i>Puzzle</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
            <main class="main-content">
           
            @* PC Login/Registration Modal *@
            <div class="modal fade" id="loginModal" tabindex="-1" role="dialog" data-backdrop="static" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                                <h3 class="modal-title text-center animated hide" id="login-header"> Login</h3>
                                <h3 class="modal-title text-center animated" id="register-header" >Create Account</h3>
                        </div>
                        <div class="modal-body">
                            <form class="form-horizontal hide animated" id="login-form">
                                <div class="form-group row">
                                    <div class="col-sm-6 col-sm-offset-3 col-xs-6 col-xs-offset-3">
                                        <input type="text" class="form-control " placeholder="Username">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-6 col-sm-offset-3 col-xs-6 col-xs-offset-3">
                                        <input type="text" class="form-control " placeholder="password">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-6 col-sm-offset-3  col-xs-6 col-xs-offset-3">
                                        <button class="btn btn-primary btn-block "> Login</button>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6 col-sm-offset-3 col-xs-6 col-xs-offset-3">
                                        <hr />
                                        <p class="text-center">Don't have an account?  <a id="register-link">Register</a></p>
                                    </div>
                                </div>
                            </form>
                            <form class="form-horizontal animated" id="register-form">
                                <div class="form-group row">
                                    <div class="col-sm-6 col-sm-offset-3 col-xs-6 col-xs-offset-3">
                                        <input type="text" class="form-control " placeholder="Email address">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-6 col-sm-offset-3 col-xs-6 col-xs-offset-3">
                                        <input type="text" class="form-control " placeholder="password">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-6 col-sm-offset-3 col-xs-6 col-xs-offset-3">
                                        <input type="text" class="form-control " placeholder="Confirm password">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-6 col-sm-offset-3  col-xs-6 col-xs-offset-3">
                                        <button class="btn btn-primary btn-block "> Register</button>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6 col-sm-offset-3 col-xs-6 col-xs-offset-3">
                                        <hr />
                                        <p class="text-center">Already have an account? <a id="login-link">Login</a></p>
                                    </div>
                                </div>
                    
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            
                @RenderBody()
                <footer id="footer4" class="footer2-black site-footer">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-5 widget pt-10 ">
                                <div class="footer2-text-cont contact">
                                    <img  class="footer-logo" src="~/Content/images/logo 1 flip.png" alt="Gamezone" />
                                   <p>Get so much more by subscribing a token for loads of interesting Arcade, Sports, Family and Puzzle games!</p>
                                </div>
                            </div>
                            <div class="col-md-2 widget pt-10 col-md-offset-2">
                                <ul class="links-list a-text-cont">
                                    <li class="white_c">INFO</li>
                                    <li><a data-toggle="modal" data-target="#exampleModal">Subscribe </a></li>
                                    <li><a href="">Games </a></li>
                                    <!-- <li><a href="">About</a></li> -->
                                    <li><a href="">Terms & Conditions</a></li>
                                    <li><a href="">Privacy </a></li>
                                </ul>
                            </div>
                            <div class="col-md-2 widget pt-10">
                                <div class="footer2-text-cont">
                                    <!-- Social Links -->
                                    <ul class="links-list a-text-cont">
                                        <li class="white_c">CONNECT</li>
                                        <li><a href="">Facebook <i class="fa fa-facebook-square"></i></a></li>
                                        <li><a href="">Twitter <i class="fa  fa-twitter-square"></i></a></li>
                                        <li><a href="">Instagram <i class="fa fa-instagram"></i></a></li>
                                        <!-- <li><a href="">Privacy </a></li> -->
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-11 ">
                                <!-- SUB FOOTER -->
                                <div class="copyright clearfix">
                                    <a class="#" href="" target="_blank">&copy; @DateTime.Now.Year Gamezone.ng</a>
                                    <a class="#" href="/www.funmobilelive.com" target="_blank" style="float:right;">Powered by FunMobile</a>
                                </div>
                            </div>
                        </div>
                        
                       
                    </div>
                    <p id="back-top">
                        <a href="#top" title="Back to Top"><span class="icon icon-arrows-up"><i class="fa fa-arrow-up"></i></span></a>
                    </p>
                </footer>
            </main>
        </div>
    </div>

    <!-- JS begin -->
    @*jquery*@
    <script src="~/Content/js/jquery.min.js"></script>
    <script src="~/Content/js/bootstrap.min.js"></script>
    <script src="~/Scripts/respond.js"></script>

    @*angular*@
    <script src="~/Scripts/angular.min.js"></script>
    <script src="~/Scripts/global.js"></script>

    @*baseJS*@

    <script src="~/Content/js/magnific-popup.min.js"></script>
    <script src="~/Content/js/imagesloaded.pkgd.min.js"></script>
    <script src="~/Content/js/appear.js"></script>
    <script src="~/Content/js/base.js"></script>
    <script src="~/Content/js/smooth-scroll.js"></script>

    @*silteringJs*@
    <script src="~/Content/js/isotope.pkgd.min.js"></script>
    <script src="~/Content/js/lightbox.min.js"></script>
    <script src="~/Content/js/dofilter.js"></script>
    <script src="~/Content/js/scrolla.jquery.min.js"></script>

    @*customjs*@
    <script src="~/Content/js/site.js"></script>
    
    @RenderSection("scripts", required: false)
</body>
</html>
