<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="generator" content="Jekyll v3.6.0">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Game Zone</title>

    <!-- Bootstrap  CSS -->
    @*<link href="~/Content/css/bootstrap.min.css" rel="stylesheet">
        <!-- Animate  CSS -->
        <link href="~/Content/css/animate.min.css" rel="stylesheet">
        <link href="~/Content/css/font-awesome.min.css" rel="stylesheet">
        <!-- base stylesheet  CSS -->
        <link href="~/Content/css/base-stylesheet.css" rel="stylesheet">
        <link href="~/Content/css/style.css" rel="stylesheet">*@
    <!-- Favicons -->
    <link rel="icon" href="/favicon.ico">
    <!-- Meta -->
    <meta name="description" content="The marketplace for HTML5 games">
    <meta name="author" content="Funmobile,Bernard Oreva, Aishat Mosuro">

    @*@Styles.Render("~/Content/css")*@

    <link href="~/Content/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/css/animate.min.css" rel="stylesheet" />
    <link href="~/Content/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/css/base-stylesheet.css" rel="stylesheet" />
    <link href="~/Content/css/style.css" rel="stylesheet" />


    @*"~/Content/css/bootstrap.min.css",
    "~/Content/css/animate.min.css",
    "~/Content/css/font-awesome.min.css",
    "~/Content/css/base-stylesheet.css",
    "~/Content/css/style.css"*@

    @*<link href="../Content/css/bootstrap.min.css" rel="stylesheet" />
    <link href="../Content/css/animate.min.css" rel="stylesheet" />
    <link href="../Content/css/font-awesome.min.css" rel="stylesheet" />
    <link href="../Content/css/base-stylesheet.css" rel="stylesheet" />
    <link href="../Content/css/style.css" rel="stylesheet" />*@

    <style>
        #games #main-menu .navbar .nav > li > a {
            color: #797979;
        }
    </style>
    @RenderSection("style", required: false)
</head>
<body ng-app="gamezoneApp">
    <div class="wrapper" ng-controller="gamezoneCtrlr">
        <!-- LOADER -->
        <div id="loader-overflow">
            <div id="loader3">Please enable JS</div>
        </div>
        <div class="site-container">
            <div class="header-black-bg"></div>
            <header id="nav" class="header header-1 header-black animated fadeInDown sticky ">
                <div class="header-wrapper">
                    <div class="container-m-30 clearfix">
                        <div class="logo-row">
                            <div class="logo-container-2">
                                <div class="logo-2">
                                    <a href="/Home" class="clearfix">
                                        <img src="~/Content/images/logo.png" alt="Gamezone logo"/>
                                    </a>
                                </div>
                            </div>
                            <div class="menu-btn-respons-container">
                                <button id="menu-btn" type="button" class="navbar-toggle btn-navbar collapsed" data-toggle="collapse" data-target="#main-menu .navbar-collapse">
                                    <span aria-hidden="true" class="icon_menu hamb-mob-icon"><i class="fa fa-bars"></i></span>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="main-menu-container">
                        <div class="container-m-30 clearfix">
                            <div id="main-menu" class="">
                                <div class="navbar navbar-default" role="navigation">
                                    <nav class="navbar-collapse  collapse row" aria-expanded="false" style="height: 0px;">
                                        <div class="col-md-2 col-md-offset-3">
                                            <ul class="nav navbar-nav" id="menuUL">
                                                <li class="parent current" id="homeMenu">
                                                    <a href="/Home" class=""><div class="main-menu-title">Home</div></a>
                                                </li>
                                                <li class="parent" id="gameMenu">
                                                    <a href="/Games/List" class=""><div class="main-menu-title">Games </div></a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="col-md-7">
                                            <div class="filter-container isotopeFilters">
                                                <ul class="text-center nav navbar-nav top-filter">
                                                    <li class="gameMenu parent active all collapsed" data-toggle="collapse" data-target="#main-menu .navbar-collapse" id="family"><a href="#" data-filter=".family"><i class="fa fa-universal-access"></i>Family</a></li>
                                                    <li class="gameMenu parent adv  collapsed" data-toggle="collapse" data-target="#main-menu .navbar-collapse" id="strategy"><a href="#" data-filter=".strategy"> <i class="fa fa-delicious"></i>Strategy</a></li>
                                                    <li class="gameMenu parent arc  collapsed" data-toggle="collapse" data-target="#main-menu .navbar-collapse" id="action"><a href="#" data-filter=".action"> <i class="fa fa-codiepie"></i>Action</a></li>
                                                    <li class="gameMenu parent spo  collapsed" data-toggle="collapse" data-target="#main-menu .navbar-collapse" id="cards"><a href="#" data-filter=".cards"> <i class="fa fa-steam-square"></i>Cards</a></li>
                                                    <li class="gameMenu parent car  collapsed" data-toggle="collapse" data-target="#main-menu .navbar-collapse" id="sports"><a href="#" data-filter=".sports"> <i class="fa fa-soccer-ball-o"></i>Sports</a></li>
                                                    <li class="gameMenu parent car  collapsed" data-toggle="collapse" data-target="#main-menu .navbar-collapse" id="adventure"><a href="#" data-filter=".adventure"> <i class="fa fa-anchor"></i>Adventure</a></li>
                                                    <li class="gameMenu parent car  collapsed" data-toggle="collapse" data-target="#main-menu .navbar-collapse" id="puzzle"><a href="#" data-filter=".puzzle"> <i class="fa fa-puzzle-piece"></i>Puzzle</a></li>
                                                </ul>
                                            </div>
                                        </div>                                       
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
            <main class="main-content">
                @RenderBody()
                <footer id="footer4" class="footer2-black site-footer">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-4 col-sm-3 widget pt-10">
                                <div class="footer2-text-cont contact">
                                    <h4 class=" ">Gamezone </h4>
                                    <address>
                                        2A, A.J Marinho Drive, Off Sinari<br>
                                        Daranijo Street,Victoria Island, <br>
                                        Lagos, Nigeria
                                    </address>
                                    <p><i class="fa  fa-phone-square "> </i> +234-1-271-1730 </p>
                                    <a href="mailto:ask@funmobilelive.com"><i class="fa fa-envelope-o"></i> ask@funmobilelive.com </a>
                                </div>
                            </div>
                            <div class="col-md-2 col-sm-3 widget pt-10">
                                <ul class="links-list a-text-cont">
                                    <li><a href="">Games </a></li>
                                    <!-- <li><a href="">About</a></li> -->
                                    <li><a href="">Terms & Conditions</a></li>
                                    <li><a href="">Privacy </a></li>
                                </ul>

                            </div>
                            <div class="col-md-2 col-sm-3 widget pt-10">
                                <div class="footer2-text-cont">
                                    <!-- Social Links -->
                                    <ul class="links-list a-text-cont">
                                        <li><a href="">Facebook <i class="fa fa-facebook-square"></i></a></li>
                                        <li><a href="">Twitter <i class="fa  fa-twitter-square"></i></a></li>
                                        <li><a href="">Instagram <i class="fa fa-instagram"></i></a></li>
                                        <!-- <li><a href="">Privacy </a></li> -->
                                    </ul>
                                </div>
                            </div>
                            @*<div class="col-md-4   ">
                                    <div class="leaderboards">
                                        <table class="table table-dark">
                                            <thead>
                                                <tr>
                                                    <th colspan="4" class="text-center"> Leaderboards</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <th scope="row">1</th>
                                                    <td>Mark</td>
                                                    <td>2000</td>
                                                    <td>monkey bubble</td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">2</th>
                                                    <td>Jacob</td>
                                                    <td>400</td>
                                                    <td>whack a mole</td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">3</th>
                                                    <td>Larry</td>
                                                    <td>12</td>
                                                    <td>whack a mole</td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">1</th>
                                                    <td>Mark</td>
                                                    <td>2000</td>
                                                    <td>monkey bubble</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>*@
                        </div>
                        <!-- SUB FOOTER -->
                        <div class="copyright clearfix">
                            <a class="#" href="" target="_blank">&copy; @DateTime.Now.Year Gamezone.ng</a>
                            <a class="#" href="/www.funmobilelive.com" target="_blank" style="float:right;">Powered by Fun Mobile</a>
                        </div>
                    </div>
                    <p id="back-top">
                        <a href="#top" title="Back to Top"><span class="icon icon-arrows-up"><i class="fa fa-arrow-up"></i></span></a>
                    </p>
                </footer>
            </main>
        </div>
    </div>

    <!-- JS begin -->
    @*jquery*@
    <script src="~/Content/js/jquery.min.js"></script>
    <script src="~/Content/js/bootstrap.min.js"></script>
    <script src="~/Scripts/respond.js"></script>

    @*angular*@
    <script src="~/Scripts/angular.min.js"></script>
    <script src="~/Scripts/global.js"></script>

    @*baseJS*@

    <script src="~/Content/js/magnific-popup.min.js"></script>
    <script src="~/Content/js/imagesloaded.pkgd.min.js"></script>
    <script src="~/Content/js/appear.js"></script>
    <script src="~/Content/js/base.js"></script>
    <script src="~/Content/js/smooth-scroll.js"></script>

    @*silteringJs*@
    <script src="~/Content/js/isotope.pkgd.min.js"></script>
    <script src="~/Content/js/lightbox.min.js"></script>
    <script src="~/Content/js/dofilter.js"></script>
    <script src="~/Content/js/scrolla.jquery.min.js"></script>

    @*customjs*@
    <script src="~/Content/js/site.js"></script>



    @*@Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/angular")
    @Scripts.Render("~/bundles/baseJS")
    @Scripts.Render("~/bundles/silteringJs")
    @Scripts.Render("~/bundles/customjs")*@
    @RenderSection("scripts", required: false)
</body>
</html>
