@using GameZone.VIEWMODEL;
@{
    ViewBag.Title = "Home | Game Zone";
    Layout = "~/Views/Shared/_Layout.cshtml";
    bool IsMobile = (bool)ViewBag.IsMobile;
    string mtnNumber = null;
    if (IsMobile)
    {
        mtnNumber = (string)ViewBag.mtnNumber;
    }
    string redirectURL = System.Configuration.ConfigurationManager.AppSettings["FLTAWAVE_REDIRECT_URL"].ToString();
    var subscriptionSuccessful = ViewBag.subscriptionSuccessful;
    string rls_vsn = System.Configuration.ConfigurationManager.AppSettings["RELEASE_VERSION"].ToString();
    string SERVICE_SHORTCODE = System.Configuration.ConfigurationManager.AppSettings["SERVICE_SHORTCODE"].ToString();

    string fltwvSubscription = ViewBag.fltwvSubscription;
}


@section style{
    <style>
        .game-container {
            display: block;
            height: 30em;
            position: relative;
        }

        #play.play {
            width: 100% !important;
            height: 600px !important;
            left: 0 !important;
        }

        #ajaxbar {
            background: #b2d3e6;
        }

        .isotopeSelector.block {
            height: auto;
        }
    </style>
}

<section class="page-section pale-white home">
    <div class="container-fluid">
        <div class="row">
            <div id="btnDIV" class="col-sm-6 col-md-5 col-xs-12 col-md-offset-1  home-text">
                <h1 class="main-header">Play fun & <strike>cool</strike><br /> awesome games!</h1>
                <h5 class="text-justify ">
                    @*Play over 500 games on GameZone with just a single button click.
                        Unleash over 500 fun, exciting and addictive games on GameZone. Just one click away*@
                    Play awesome HTML5 games available on your smartphones, tablet or PC. Our catalogue is often updated with new games to keep you engaged!
                </h5>
                @*<a class="btn bitsumishi smooth-scroll scroll-down animate" href="http://funmobilelive.html5games.net/serve?portal_id=4774417016029184&game_id=6066710801022976&branding_id=5848139915329536&ad_id=5284106556407808&portal_localization_id=4539491968614400&clear_cache=yes" data-animate="wobble" data-duration="1.0s" data-delay="0.4s" data-iteration="2" type="button">play free game <i class="fa fa-play-circle"></i></a>*@
                
                @*<a id="subscribeBTN" class="btn bitsumishi smooth-scroll scroll-down animate subscribeBTN" href="" data-animate="wobble" data-duration="1.0s" data-delay="0.4s" ng-click="subscriptionBtnClickEventHandler()" data-iteration="2" type="button" ng-show="subDetailOBJ.IsActive == 0">Subscribe <i class="fa fa-certificate"></i></a>
                <a id="subscribeBTN" class="btn bitsumishi smooth-scroll scroll-down animate subscribeBTN" href="" data-animate="wobble" data-duration="1.0s" data-delay="0.4s" ng-click="subscriptionBtnClickEventHandler()" data-iteration="2" type="button" ng-show="subDetailOBJ.IsActive == 0">Subscribe <i class="fa fa-certificate"></i></a>*@
                
            </div>
            <div class="col-sm-6 col-md-6 col-xs-12  ">

                <!-- GameListHeroLeftLarge.png -->
                <div id="slideshow">
                    <div>
                        <img src="~/Content/images/GameListHeroLeftLarge.png" alt="monkey bubble shooter characters" height="250">
                    </div>
                    <div>
                        <img src="~/Content/images/cards.png" alt="Cards" height="250">
                    </div>
                    <div>
                        <img src="~/Content/images/frame_01_normal.png" alt="Masked bomber" height="250" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
@*<section class="page-section pale-white trial hide">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12  col-xs-12  col-md-6 col-md-offset-1">
                    <div class="panel-heading orange-bg" id="free-play">
                        <h3 class="freegame-heading"> <i class="fa fa-play"></i>&nbsp; &nbsp; PLAY OUR FREE GAME</h3>
                    </div>
                    <div class="panel-body game-container">
                        <iframe width="100%" height="100%" style="background:#b2d3e6!important;" id="bonusGame" src="http://funmobilelive.html5games.net/serve?portal_id=4774417016029184&game_id=6066710801022976&branding_id=5848139915329536&ad_id=5284106556407808&portal_localization_id=4539491968614400&clear_cache=yes"></iframe>
                    </div>
                </div>
                <div class="col-md-5 col-xs-12">
                    <h1 class="main-header top-space">Subcribe for More!</h1>
                    <h5 class="text-justify ">
                        Get so much more by subscribing a token for loads of interesting games. We have the best Arcade, Sports, Family and Puzzle games! You are just one click away to having it all.
                    </h5>
                    <a class="btn animate" data-animate="wobble" data-duration="1.0s" data-delay="0.4s" data-iteration="2" type="button" data-toggle="modal" data-target="#exampleModal">Subscribe for our games </a>

                </div>
            </div>
        </div>
    </section>*@
<!-- Modal -->

<section class="page-section " id="game-area">
    <div class="game-filter hidden-xs hidden-sm">
        <div class="container">
            <div class="row">
                <div class="col-md-9  col-md-offset-2">
                    <div class="filter-container isotopeFilters">
                        <ul class="text-center nav navbar-nav top-filter">
                            <li class="gameMenu parent active all collapsed" data-toggle="collapse" data-target="#main-menu .navbar-collapse" id="family"><a href="#" data-filter=".family"><i class="fa fa-universal-access"></i>Family</a></li>
                            <li class="gameMenu parent adv  collapsed" data-toggle="collapse" data-target="#main-menu .navbar-collapse" id="strategy"><a href="#" data-filter=".strategy"> <i class="fa fa-delicious"></i>Strategy</a></li>
                            <li class="gameMenu parent arc  collapsed" data-toggle="collapse" data-target="#main-menu .navbar-collapse" id="action"><a href="#" data-filter=".action"> <i class="fa fa-codiepie"></i>Action</a></li>
                            <li class="gameMenu parent spo  collapsed" data-toggle="collapse" data-target="#main-menu .navbar-collapse" id="cards"><a href="#" data-filter=".cards"> <i class="fa fa-steam-square"></i>Cards</a></li>
                            <li class="gameMenu parent car  collapsed" data-toggle="collapse" data-target="#main-menu .navbar-collapse" id="sports"><a href="#" data-filter=".sports"> <i class="fa fa-soccer-ball-o"></i>Sports</a></li>
                            <li class="gameMenu parent car  collapsed" data-toggle="collapse" data-target="#main-menu .navbar-collapse" id="adventure"><a href="#" data-filter=".adventure"> <i class="fa fa-anchor"></i>Adventure</a></li>
                            <li class="gameMenu parent car  collapsed" data-toggle="collapse" data-target="#main-menu .navbar-collapse" id="puzzle"><a href="#" data-filter=".puzzle"> <i class="fa fa-puzzle-piece"></i>Puzzle</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-12 title">
                <h1 class="text-center blue_c main-header"> <i class="fa fa-gift "></i>OUR GAMES</h1>
            </div>
            <div class="col-md-12">
                <div class="game-loader text-center">
                    <img src="~/Content/images/logo.png" alt="Gamezone logo" />
                </div>
            </div>
            <div class="col-md-12">
                <div class="row">
                    <div id="isotopeContainer" class="isotopeContainer text-center">
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-center">
                <a class="btn bitsumishi scroll-down animate orange-btn" href="/Games/List" data-animate="wobble" type="button">View All</a>
                @*<a href="/Games/List" id="more-btn" class="btn  smooth-scroll scroll-down animate orange-btn" type="button">View All </a>*@
            </div>
        </div>


    </div>
</section>

@* PC Subscription Modal *@
<div class="modal fade" id="pcSubscriptionModal" tabindex="-1" role="dialog" data-backdrop="static" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h3 class="modal-title text-center" id="exampleModalLabel">Subscribe to Play Our Games</h3>
            </div>
            <div class="modal-body">
                <form class="fomr-horizontal">
                    <div class="form-group row">
                        <div class="col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1">
                            <table style="width:100%; border:none;">
                                @if (IsMobile && mtnNumber != null)
                                {
                                    <tr>
                                        <td colspan="2">
                                            <span>Phone No</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="2">
                                            <label>@mtnNumber</label>
                                        </td>
                                    </tr>
                                }
                                <tr>
                                    <td>
                                        <span>Begin Date</span>
                                    </td>
                                    <td>
                                        <span>End Date</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td><label>{{subDetailOBJ.PeriodStart}}</label></td>
                                    <td><label>{{subDetailOBJ.PeriodEnd}}</label></td>
                                </tr>
                                <tr>
                                    <td>
                                        <span>Type</span>
                                    </td>
                                    <td>
                                        <span>Active</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        @if (IsMobile && mtnNumber != null)
                                        {<label>{{subDetailOBJ.Period.split(' ')[1]}}</label>
                                        }
                                        else
                                        {
                                            <label>{{subDetailOBJ.Period}}</label>
                                        }
                                    </td>
                                    <td id="txtIsActive"></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    @*<div class="form-group row">*@
                    @*<div class="col-sm-6 col-sm-offset-3  col-xs-6 col-xs-offset-3">*@
                    @*<a class="flwpug_getpaid" data-PBFPubKey="FLWPUBK-421b6ed86111a9c686cff34b983cee73-X" data-txref="rave-checkout-1516785905" data-amount="" data-customer_email="user@example.com" data-currency="NGN" data-pay_button_text="Subscribe" data-country="NG" data-custom_title="Gamezone" data-custom_description="" data-redirect_url="http://www.gamezone.ng/Games/List" data-custom_logo="" data-payment_method="both" data-exclude_banks=""></a>*@
                    @*<a class="btn btn-primary btn-block flwpug_getpaid" data-PBFPubKey="FLWPUBK-421b6ed86111a9c686cff34b983cee73-X" data-txref="rave-checkout-1516369113" data-amount="" data-customer_email="user@example.com" data-currency="NGN" data-pay_button_text="Subscribe" data-country="NG" data-custom_title="Gamezone" data-custom_description="" data-redirect_url="" data-custom_logo="" data-payment_method="card" data-exclude_banks=""></a>*@
                    @*</div>*@
                    @*</div>*@
                    <div class="form-group row" ng-show="subDetailOBJ.IsActive == 0">
                        <div class="col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1">
                            <select id="payTypeSel" class="form-control" ng-model="payType">
                                @if (mtnNumber == null)
                                {
                                    <option value="card">Pay with Card</option>
                                }
                                <option value="airtime">Pay with Airtime (MTN Only)</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row" id="subscribeBtnDiv" ng-show="subDetailOBJ.IsActive == 0">
                        <div id="ussd" class="col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1" ng-show="payType == 'airtime'">
                            <div class="form-group row">
                                <div class="col-sm-12 col-xs-12">
                                    <input id="txtPhone" type="text" class="form-control" placeholder="Enter Phone No. (MTN Only)" ng-model="mtnMSISDN" aria-describedby="sizing-addon1">
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-12 col-xs-12">
                                    <select id="packageSel" class="form-control" ng-model="HeaderId" ng-options="c.HeaderId as c.Description.split('(')[1].slice(0, -1) for c in headerData">
                                        <option selected="selected" value="">-- Select Package --</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1">
                                    <img src="~/Content/images/loadingGif.gif?v=@rls_vsn" id="subscribeLoda" style="display: block; margin-left: auto; margin-right: auto;" />
                                </div>
                            </div>

                            <div class="form-group row">
                                <div class="col-sm-12 col-xs-12">
                                    <button class="btn btn-primary btn-block disabledCtrl" ng-click="USSDSubscription()"> Subscribe</button>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1" ng-show="payType == 'card'">
                                <span>Package:  </span><label>N50/Weekly</label>
                            </div>
                            <div id="ePayment" class="col-sm-6 col-sm-offset-3  col-xs-6 col-xs-offset-3" ng-show="payType == 'card'">
                                <a class="btn btn-block flwpug_getpaid" data-PBFPubKey="FLWPUBK-421b6ed86111a9c686cff34b983cee73-X" data-txref="rave-checkout-1517414809" data-amount="50" data-customer_email="user@example.com" data-currency="NGN" data-pay_button_text="Subscribe" data-country="NG" data-custom_title="Gamezone" data-custom_description="" data-redirect_url="@redirectURL" data-custom_logo="" data-payment_method="card" data-exclude_banks=""></a>
                            </div>
                        </div>
                    </div>                                      
                </form>
            </div>
            <div class="modal-footer" ng-show="subDetailOBJ.IsActive == 1">
                <div class="form-group row">
                    <div class="col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1  ">
                        <button class="btn btn-primary btn-block disabledCtrl" ng-click="UnSubscribe()"> Unsubscribe</button>
                    </div>
                </div>  
            </div>
        </div>
    </div>
</div>

@* PC Login/Registration Modal *@
@*<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" data-backdrop="static" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h3 class="modal-title text-center animated hide" id="login-header"> Login</h3>
                <h3 class="modal-title text-center animated hide" id="forgotpw-header">Reset Password</h3>
                <h3 class="modal-title text-center animated" id="register-header">Register</h3>
            </div>
            <div class="modal-body">
                <form class="form-horizontal hide animated" id="login-form">
                    <div class="form-group row">
                        <div class="col-sm-6 col-sm-offset-3 col-xs-6 col-xs-offset-3">
                            <input id="txtUsername" type="text" class="form-control" placeholder="Username" ng-model="loginObj.szUsername" aria-describedby="sizing-addon1">
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-6 col-sm-offset-3 col-xs-6 col-xs-offset-3">
                            <input id="txtPassword" type="password" class="form-control" placeholder="Password" ng-model="loginObj.szPassword">
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-6 col-sm-offset-3  col-xs-6 col-xs-offset-3">
                            <img src="~/Content/images/loadingGif.gif?v=@rls_vsn" id="logLoda" style="display: block; margin-left: auto; margin-right: auto;" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-6 col-sm-offset-3  col-xs-6 col-xs-offset-3">
                            <button class="btn btn-primary btn-block disabledCtrl" ng-click="userLogin()"> Login</button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6 col-sm-offset-3">
                            <hr />
                            <p class="text-center">Forgot password?  <a id="forgotpw-link" class="disabledCtrl">Reset password</a></p>
                            <p class="text-center">Don't have an account?  <a id="register-link" class="disabledCtrl">Register</a></p>
                        </div>
                    </div>
                </form>
                <form class="form-horizontal hide animated" id="forgotpw-form">
                    <div class="form-group row">
                        <div class="col-sm-6 col-sm-offset-3 col-xs-6 col-xs-offset-3">
                            <input type="text" id="txtForgotUsername" class="form-control allownumericwithoutdecimal" placeholder="Email address or Phone No" ng-model="forgotpwObj.szUsername">
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-6 col-sm-offset-3  col-xs-6 col-xs-offset-3">
                            <img src="~/Content/images/loadingGif.gif?v=@rls_vsn" id="forgotLoda" style="display: block; margin-left: auto; margin-right: auto;" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-6 col-sm-offset-3  col-xs-6 col-xs-offset-3">
                            <button class="btn btn-primary btn-block disabledCtrl" ng-click="ResetUserPW()"> Reset</button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6 col-sm-offset-3">
                            <hr />
                            <p class="text-center">Already have an account? <a id="login-link" class="disabledCtrl">Login</a></p>
                        </div>
                    </div>
                </form>
                <form class="form-horizontal animated" id="register-form">
                    <div class="form-group row">
                        <div class="col-sm-6 col-sm-offset-3 col-xs-6 col-xs-offset-3">
                            <input type="text" id="txtRegUsername" class="form-control allownumericwithoutdecimal" placeholder="Email address / Phone No" ng-model="registerObj.szUsername">
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-6 col-sm-offset-3 col-xs-6 col-xs-offset-3">
                            <input type="password" id="txtRegPassword" class="form-control " placeholder="Password" ng-model="registerObj.szPassword">
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-6 col-sm-offset-3 col-xs-6 col-xs-offset-3">
                            <input type="password" id="txtRegPasswordConfirm" class="form-control " placeholder="Confirm password" ng-model="registerObj.szConfirmPassword">
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-6 col-sm-offset-3  col-xs-6 col-xs-offset-3">
                            <img src="~/Content/images/loadingGif.gif?v=@rls_vsn" id="regLoda" style="display: block; margin-left: auto; margin-right: auto;" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-6 col-sm-offset-3  col-xs-6 col-xs-offset-3">
                            <button class="btn btn-primary btn-block disabledCtrl" ng-click="RegisterNewUser()"> Register</button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6 col-sm-offset-3">
                            <hr />
                            <p class="text-center">Already have an account? <a id="login-link" class="disabledCtrl">Login</a></p>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>*@

@* Password Change Modal *@
@*<div class="modal fade" id="passwordChangeModal" tabindex="-1" role="dialog" data-backdrop="static" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h3 class="modal-title text-center" id="exampleModalLabel">Change Password</h3>
            </div>
            <div class="modal-body">
                <form class="fomr-horizontal">
                    <div class="form-group row">
                        <div class="col-sm-6 col-sm-offset-3 col-xs-6 col-xs-offset-3">
                            <input type="text" id="txtChangeUsername" class="form-control allownumericwithoutdecimal" placeholder="Email address / Phone No" ng-model="changepwObj.szUsername">
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-6 col-sm-offset-3 col-xs-6 col-xs-offset-3">
                            <input type="password" id="txtChangePassword" class="form-control " placeholder="Password" ng-model="changepwObj.szPassword">
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-6 col-sm-offset-3 col-xs-6 col-xs-offset-3">
                            <input type="password" id="txtChangePasswordConfirm" class="form-control " placeholder="Confirm password" ng-model="changepwObj.szConfirmPassword">
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-6 col-sm-offset-3  col-xs-6 col-xs-offset-3">
                            <img src="~/Content/images/loadingGif.gif?v=@rls_vsn" id="ChangeLoda" style="display: block; margin-left: auto; margin-right: auto;" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-6 col-sm-offset-3  col-xs-6 col-xs-offset-3">
                            <button id="btnChangeUserPW" class="btn btn-primary btn-block disabledChangeCtrl" ng-click="ChangeUserPW()"> Change Password</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>*@


@*Original Public Key*@
@*data-PBFPubKey="FLWPUBK-21d231c2eef47b545298eb299494af6c-X"*@

@section scripts{
    <script type="text/javascript">
        var _Title = "@ViewBag.Title";
        var _IsMobile = "@IsMobile";
        var _mtnNumber = "@mtnNumber";
        var _RedirectURL = "@redirectURL";
        var _subscriptionSuccessful = "@subscriptionSuccessful";
        var _SERVICE_SHORTCODE = "@SERVICE_SHORTCODE";
        var _fltwvSubscription = "@fltwvSubscription";
    </script>

    @*<script type="text/javascript" src="https://api.ravepay.co/flwv3-pug/getpaidx/api/flwpbf-inline.js"></script>*@
    <script type="text/javascript" src="http://flw-pms-dev.eu-west-1.elasticbeanstalk.com/flwv3-pug/getpaidx/api/flwpbf-inline.js"></script>
    <script src="~/Content/js/notify.min.js?v=@rls_vsn"></script>
    <script src="~/Scripts/Home/Index.js?v=@rls_vsn"></script>
@*<script src="~/Scripts/Home/Index.min.js?v=@rls_vsn"></script>*@
    <script src="~/Content/js/jquery.lazyload.min.js?v=@rls_vsn"></script>
    @*<script src="~/Scripts/flwpbf-inline.js"></script>*@
    @*<script type="text/javascript" src="https://api.ravepay.co/flwv3-pug/getpaidx/api/flwpbf-inline.js"></script>*@
    @*@Scripts.Render("~/bundles/Home-IndexPageJs")*@

    @*<script type="text/javascript" src="http://flw-pms-dev.eu-west-1.elasticbeanstalk.com/flwv3-pug/getpaidx/api/flwpbf-inline.js"></script>*@


}