@using GameZone.WEB.Models
@model string
@{
    ViewBag.Title = "Log in";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
    bool IsMobile = (bool)ViewBag.IsMobile;
    string mtnNumber = null;
    if (IsMobile)
    {
        mtnNumber = (string)ViewBag.mtnNumber;
    }
    string SERVICE_SHORTCODE = System.Configuration.ConfigurationManager.AppSettings["SERVICE_SHORTCODE"].ToString();
    string returnUrl = Model;
}
<section class="page-section pale-white home">
    <div class="container-fluid">
        <form class="form-horizontal animated" id="login-form">
            <div class="form-group row">
                <div class="well" ng-show="loginSuccess == 0">
                    <p id="pWellMsg">{{wellMsg}}</p>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-lg-4 col-md-4 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1 col-md-offset-3 col-lg-offset-4">
                    <input id="txtUsername" type="text" class="form-control" placeholder="Username" ng-model="loginObj.szUsername" aria-describedby="sizing-addon1">
                </div>
            </div>
            <div class="form-group row">
                <div class="col-lg-4 col-md-4 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1 col-md-offset-3 col-lg-offset-4">
                    <input id="txtPassword" type="password" class="form-control" placeholder="Password" ng-model="loginObj.szPassword">
                </div>
            </div>
            <div class="form-group row">
                <div class="col-lg-4 col-md-4 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1 col-md-offset-3 col-lg-offset-4">
                    <img src="~/Content/images/loadingGif.gif" id="logLoda" style="display: block; margin-left: auto; margin-right: auto;" />
                </div>
            </div>
            <div class="form-group row">
                <div class="col-lg-2 col-md-2 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1 col-md-offset-4 col-lg-offset-5">
                    <button class="btn btn-primary btn-block disabledCtrl" ng-click="userLogin()"> Login</button>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 col-sm-offset-3">
                    <hr />
                    <p class="text-center">Forgot password?  <a href="/Account/ForgotPassword" class="disabledCtrl">Reset password</a></p>
                    <p class="text-center">Don't have an account?  <a href="/Account/Register" class="disabledCtrl">Register</a></p>
                </div>
            </div>
        </form>
    </div>
</section>
@section scripts{
    <script type="text/javascript">
        var _IsMobile = "@IsMobile";
        var _mtnNumber = "@mtnNumber";
        var _SERVICE_SHORTCODE = "@SERVICE_SHORTCODE";
        var _ReturnUrl = "@returnUrl";
    </script>

    @Scripts.Render("~/bundles/accountLogin")
}
